:root {
  --primary: #000000;
  --secondary: #ffffff;
  --background: #ffffff;
  --text: #000000;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
* a {
    text-decoration: none;
    color: var(--primary);
  }


body {

  background: var(--background);
  color: var(--text);


}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 ;
}
/* BONTON */

.btn {
  text-decoration: none;
  border-radius: 90px;
  padding: 12px 20px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  gap: 6px;
}

.btn-primary {
  background: var(--primary);
  color: var(--secondary);
  border: none;
}

.btn-secondary {
  background: var(--secondary);
  color: var(--primary);


}

.btn:hover {

  transform: translateY(-2px);
}



/* ARTICLE */
.flex-row {
  display: flex;
  gap: 24px;
}

.flex-column {
  display: flex;
  flex-direction: column;
  gap: 24px;

}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

}
/* Popular product */
.popular-product {
  color: var(--secondary);
  min-height: 550px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 1 300px;
  border-radius: 2px;
  padding: 30px;
  display: flex;
  align-items: end;

}
.popular-product h3 {
    color: var(--secondary);
  }

.article1 {
  background-image: url(assets/article-basket.jpg);
}

.article2 {
  background-image: url(assets/article-ete.jpg);
}

.category-products {
  min-height: 340px;
  border-radius: 2px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  flex: 1 1 300px;
  display: flex;
  align-items: end;
  padding: 30px
}

.card1 {
  background-image: url("assets/jordan1.avif");
}

.card2 {
  background-image: url("assets/lucas5.avif");
}

.card3 {
  background-image: url("assets/jordan4.avif");
}

.product {
  min-height: 340px;
  border-radius: 2px;
  flex: 1 1 300px;



}

.product img {
  width: 100%;
  border-radius: 2px;
  object-fit: cover;
  /* REMPLIT sans déformer */
  object-position: center;
}

.stock {
  font-weight: 600;
  color: #047d3f;

}

.btn-product {
  max-width: 40px;
  max-height: 40px;
  text-decoration: none;
  border: none;
  border-radius: 99px;
  padding: 10px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  background-color: black;
  margin-bottom: 8px;
}

.descripton-card {
  padding: 5px;
  display: flex;
  align-items: end;
  /* align-content: end; */
  justify-content: space-between;


}

.details {

  text-decoration: none;
  color: var(--text);
  font-weight: 500;
  margin-right: 5px;
}

.details:hover {
  text-decoration-line: underline;
}
section{
  margin: 24px;
}